body {
background-color:  #E2CCF5;
}
nav{
  list-style-type: none;
  background-color: #AB73A6; 
  width: 100%;
  position: fixed; 
  top: 0;
    left: 0; }

h1 { margin-top: 200px;} 
h1{font: Londria-sketch; 
font-style: oblique;
}

pre { margin-top: 70px;
font-size: 30px;} 

img{ width: 400px; 
  height: 320px; } 
