body {
background-color:  #E2CCF5;
}
nav{
  list-style-type: none;
  background-color: #AB73A6; 
  width: 100%;
  position: fixed; 
  top: 0;
    left: 0; }

h1 { margin-top: 200px;} 

h2{ margin-top: 150px;} 
